.searchContainer {
  margin-bottom: 1rem;
}

.searchInput {
  padding: 0.5rem;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButton {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border: none;
  background-color: #0070f3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
