.menuWrapper {
  display: flex;
  flex-direction: row;
  
}
.menuPage{
  padding: 0.5rem;
  flex: 1;
}
.menuContainer {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.welcomeUser {
  
  margin-bottom: 1rem;
background-image: url('/welcome.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  padding-top: 60px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
}

.welcomeUser h2{
  font-weight: bold;
  padding-bottom: 20px;
}

.menuList {
  list-style-type: none;
  padding: 0;
}

/* Additional menu-specific styles */

.categoryFilters{
  gap: 20px;
  display: flex;
}
.categoryFilters button {
  background-color: #D9D9D9;
  color: grey;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
}


.mealsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.mealCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  /* background-color: #F9F9F9; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.mealCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.mealCard button {
  background-color: #FCB900;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
}

.mealCard button:hover {
  background-color: #ffd900a3;
  color: black;
}

.heartIcon {
   position: absolute; 
  top: 15px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}